@import url('https://fonts.googleapis.com/css?family=Hind|Quicksand');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

:root {
  --mainBlue: #104d7e;
  --mainDark: #7e2f10;
  --mainOrange: #e45e2a;
  --lightPeach: #fff3ea;
  --lightBrown: #9c8481;
  --darkBrown: rgb(166, 86, 86);
  --titleBrown: rgb(116, 86, 86);
  --lightgray: #d3d3d3;
}
html {
  font-size: 62.5% !important;
}
/* Header */
.navbar-nav a {
  font-size: 2rem;
  font-weight: 700;
}

body {
  font-family: 'Hind', Arial, Helvetica, sans-serif !important;
}
.img-ca {
  max-width: 150px;
  /* max-height: 5rem; */
}
.text-title {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
}
.location-block {
  background-color: var(--mainBlue);
  color: #fff;
  font-size: 1.5rem;
}
.operation-block {
  background-color: var(--mainDark);
  color: #fff;
  font-size: 1.5rem;
}

.footer {
  background-color: var(--mainOrange);
  color: #fff;
}
.groups {
  background-color: var(--lightPeach);
  font-size: 1.8rem;
}
.groups h3 {
  color: #ef5874;
  font-weight: 700;
  line-height: 2.4rem;
}
.groups p {
  color: var(--lightBrown);
}
/* info area */

.info-box-pic-one {
  background-image: url('../public/img/child-smiling.jpeg');
}

.info-box-pic {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 15rem 10rem;
  max-width: 100%;
}

.info-box-pic-one {
  background-image: url('../public/img/child-smiling.jpeg');
}

.info-box-pic-two {
  background-image: url('../public/img/child-crayons.jpeg');
}

.ages-divider {
  height: 0.95rem;
  max-width: 95%;
  margin: 0 auto;
  background-color: var(--mainBlue);
}

.info h3 {
  color: var(--darkBrown);
  font-weight: 700;
  line-height: 2.4rem;
}

.info p {
  color: var(--lightBrown);
  font-size: 1.4rem;
}
.nav-item {
  font-size: 1.8rem !important;
}

/* buttons */
.blue-btn {
  background-color: var(--mainBlue);
}
.blue-btn:hover {
  background: var(--mainOrange);
}
.orange-btn {
  background: var(--mainOrange);
}
.orange-btn:hover {
  background: var(--mainBlue);
}

/* tab area */
.tab-widget {
  background-image: url('../public/img/pattern.jpg');
  color: var(--lightBrown);
}
.tab-widget .nav-item {
  background-color: var(--lightPeach);
  border-top: 0.1rem solid var(--lightgray);
  border-right: 0.1rem solid var(--lightgray);
  border-left: 0.1rem solid var(--lightgray);
  border-bottom: 0.1rem solid var(--lightgray);
}
#nav-home-tab {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.tab-widget a {
  color: var(--mainOrange);
  font-weight: 700;
  transition: all 0.5s ease-in-out;
}
.tab-widget a:hover {
  background: #fff;
}
.tab-widget .active {
  background: #fff;
}
.tab-widget h1,
h3 {
  color: var(--titleBrown);
}
.tab-content {
  background: #fff;
  border-top: 0.1rem solid var(--lightgray);
  border-right: 0.1rem solid var(--lightgray);
  border-left: 0.1rem solid var(--lightgray);
  border-bottom: 1rem solid var(--mainBlue);
}
.tab-content p {
  font-size: 1.4rem;
  padding-top: 2rem;
  padding-right: 10rem;
}
.tab-pane a {
  font-size: 1.8rem;
}
/* footer */
.footer a {
  color: var(--lightgray);
}

/* media queries */
@media (min-width: 768px) {
  .carousel-wrapper {
    height: 450px;
    overflow: hidden;
  }
  .tab-widget .nav-item {
    border-top-left-radius: 1rem;
    border-top-right-radius: 2rem;
    border-bottom: none;
    padding: 2.3rem 5.3rem;
  }
  .active {
    border-bottom: none;
  }
}
